*jar
*.lsp
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
.cpcache/
.rebel_readline_history
/resources/public/cljs-out/
node_modules
.clj-kondo/*
!.clj-kondo/config.edn
.calva
.lein-failures
*.pom
